.navbar {
    background-color: #ff172a;
}

.nav-item {
    color: white;
    font-weight: 900;
}

.nav-title {
    position: relative;
    margin-right: 50%;
    font-size: 50px;
}

.main-text {
    color: black;
    align-items: center;
    justify-content: center;
    left: 0;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}

button {
    height: 50px;
    padding: 10px;
    margin: 10px;
    width: 130px;
    border-radius: 20%;
    font-size: 20px;
}
.buttons {
    align-items: center;
    justify-content: center;
    left: 0;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 60%;
    width: 100%;
 }
.john-button img{
    height: 30px;  
    width: 30px;
}
.sam-button img{
    height: 30px;  
    width: 30px;
}
.john-button {
    justify-content:space-between;
}
.container {
    margin-top: 400px;
}

#textInput {
    border: none;
    border-bottom: 3px solid aqua;
}
.userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}
.userText span {
    background-color: #009688;
    padding: 10px;
    border-radius: 2px;
}
.botText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}
.botText span {
    background-color: #EF5350;
    padding: 10px;
    border-radius: 2px;
}